.body {
    margin: 0;
    padding: 0;
}

.heading {
    text-align: center;
    margin: 1em;
    width: 100%;
}

.instrument-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 2em;
    gap: 2em;
}

.instrument-card {
    min-width: 12em;
    text-align: center;
}

.instrument-image {
    border-radius: 10%;
}