{
    "ConnectionStrings": {
      "LocalConnection":"Server=localhost;Database=team_five_db;User ID=root;Password=root;CharSet=utf8;"
    },
    "Jwt" :{
	  "Issuer": "Instrumental",
      "Audience": "LocalHost",
      "SecretKey": "87a8d65066b88d4e7b7173a62599b221e2a9a35e35ec166428abb7e5b407f1d7"
	},
    "SES" :{
        "From": "example@mail.com",
        "Access": "SecretKey1234abcd",
        "Secret": "Time flies over us, but leaves its shadow",
        "Region": "us-east-1"
    }
}
