{
    "ConnectionStrings": {
      "LocalConnection":"Server=localhost;Database=team_five_db;User ID=root;Password=root;CharSet=utf8;"
    },
    "Jwt" :{
	  "Issuer": "TeamFive",
      "Audience": "LocalHost",
      "SecretKey": "One Ring to rule them all."
	}
}
